@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  background-color: #0F1139;
  color : white;
  font-family: Roboto;
}
.body-wrapper{
  padding : 10px 10%;
  /* background-color: red; */
}
.icon-style{
  width : 10px;
}
::placeholder{
  color : #E903C4
}
.centralizer{
  padding : 0%;
  margin : 0%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
/* Top Banner Styling */
.top-banner-wrapper{
  padding-top: 60px;
  display: inline-flex;
  width: 100%;
}
.top-banner-container{
  background: linear-gradient(#E903C4, #2d3076);
  padding : 40px;
  border-radius: 10px;
  display: inline-flex;
  width: 100%;
  max-height: 120px;
  align-items: center;
  justify-content: space-between;
}
.top-banner-message{
  font-size : 2.5rem;
  font-weight: bold;
  background: radial-gradient(95.72% 1876.3% at 0% 16.53%, rgba(0, 224, 255, 0.97) 0%, #FFFFFF 35.3%, #FF56E4 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.top-banner-image img{
  height : 250px;
  margin-top: -45px;
}
/* End of Top Banner Styling */
.search-wrapper{
  padding : 10px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin-top : 10px
}
.search-border-container{
  background: linear-gradient(#E903C4, #2d3076);
  padding: 1px;
  border-radius: 15px;
  width: 30%;
}
.search-container{
  /* background-color: green; */
  display: inline-flex;
  background-color: #141526;
  padding : 5px;
  width: 97%;
  border-radius: 15px;
}
.search-container > div{
  margin: 5px;
  color : #E903C4;
}
.search-input-wrapper{
  width: 980%;
}
.search-container > div > input{
  padding: 2px 2px;
  width: 100%;
  color: #E903C4;
  background-color: transparent;
  border: none;
  font-size: 17px;
  outline: none;
}
/* End of search styling */

/* Start of card styling */
.cards-wrapper{
  padding : 10px 0%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  /* background-color: red; */
}
.card-container{
  margin: 10px;
  padding: 7px;
  background-color: transparent;
  border: solid 1px #E903C4;
  border-radius: 10px;
  cursor: pointer;
  height: 20rem;
}
.card-image-container > img{
  width: 15rem;
  border-radius: 10px;
  height: 15rem;
  /* object-fit: cover; */
}
.card-info{
  margin: 20px 0%;
  display: inline-flex;
  justify-content: space-evenly;
  /* background-color: red; */
  width: 15rem;
  flex-wrap: wrap;
  line-height: 25px;
}
.card-price{
  color : green;
}
/* End of card design */
/* Start of modal design */
.modal-wrapper{
  background-color: black;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0.6;
}
.modal-container{
  background-color: black;
  position: fixed;
  top: 10%;
  bottom: 10%;
  right: 25%;
  left: 25%;
  border-radius: 20px;
  padding : 30px;
}
.cancel-modal-container{
  display: inline-flex;
  justify-content: right;
  width: 100%;
}
.cancel-modal-container > span{
  cursor: pointer;
}
.modal-content-container{
  /* background-color: yellow; */
  height: 90%;
  width: 100%;
  margin: 10px;
  display: inline-flex;
}
.nft-modal-image{
  /* background-color: green; */
  padding: 20px;
}
.nft-modal-image > img{
  height: 80%;
  width: 90%;
}
.nft-modal-info{
  padding: 20px 0%;
}
.nft-modal-info > p{
  margin: 15px 0%;
  font-size: 1.5rem;
}
.nft-modal-info > p > a{
  color : #E903C4;
  font-weight: bolder;
  text-decoration: none;
}
.nft-modal-info > p > a:hover{
  color: white;
}
.nft-modal-info > p > button{
  padding : 10px;
  font-weight: bolder;
  background-color: green;
  color : white;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.nft-modal-info > p > button:hover{
  background-color: transparent;
  color: #E903C4;
  border: solid 2px #E903C4;
}
/* End of modal design */

.loading-older-status{
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}