body{
  background-color: #0F1139;
}
.body-wrapper{
  padding : 10px 10%;
}
.top-banner-wrapper{
  padding-top: 60px;
  display: inline-flex;
  width: 100%;
}
.top-banner-container{
  background: linear-gradient(#E903C4, #2d3076);
  padding : 40px;
  border-radius: 10px;
  display: inline-flex;
  width: 100%;
  max-height: 120px;
  align-items: center;
  justify-content: space-between;
}
.top-banner-message{
  font-size : 2.5rem;
  font-weight: bold;
  color : white;
}
.top-banner-image img{
  height : 250px;
  margin-top: -45px;
}